
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris McGlynn | BUG TRACKER</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Assets/images/QPCPodcast3NoTextCrop.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
</head>
<body style="padding-top: 0px; background-color:rgb(31, 35, 43); @*overflow: hidden*@">
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/animate/css/animate.css" rel="stylesheet" />
    <link rel="icon" href="~/Assets/images/QPCPodcast3NoTextCrop.png" type="image/x-icon" style="">
    <div class="row" align="center">
        <div class="col-sm-2 col-md-12">
            <a href="@Url.Action("Index", "Home")">
                <img class="img-responsive animated bounceInRight" src="~/Assets/images/QPCPodcast3NoTextCrop.png" alt="" style="margin-left: 0px; margin-top: 20px;" height="130" width="140">
            </a>
        </div>
    </div>
    <div class="row" style="text-align: center">
        <div class="col-sm-1 col-md-12">
            <p class="animated tada, pulse infinite" style="padding-top: 0px; margin-left: 0px; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                <a href="@Url.Action("Index", "Home")" style="text-align:center; font-family:'Goudy Old Style'; color:red; font-size:170px; text-decoration: underline">BUG TRACKER</a>
            </p>
        </div>

    </div>
    <div>
        <p style="text-align:center; font-family:'Goudy Old Style'; color:red; font-size:35px; text-decoration: underline; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin-top: 0px;">An efficient yet easy to use application for tracking software defects.</p>
    </div>
    <div>
        <p style="text-align:center; font-family:'Goudy Old Style'; color:red; font-size:35px; text-decoration: underline; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin-top: 0px;">Click the "BUG TRACKER" logo above to get started!</p>
    </div>
    <div>
        <p style="text-align:center; font-family:'Goudy Old Style'; color:white; font-size:55px; text-decoration: underline; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin-top: 80px;">Created With:</p>
    </div>
    <div class="row" align="center">
        <div class="col-sm-2 col-md-4">

        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-2 col-md-4" height="35" width="35">

        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-2 col-md-4" height="35" width="35">

        </div>
    </div>
    <div class="row" align="center">
        <div class="col-sm-2 col-md-4" height="35" width="35">
        </div>
    </div>
    <center style="margin-top: 20px;">
        <img src="~/Assets/images/net_c.jpg" height="180" width="180" />
        <img src="~/Assets/images/main-qimg-73742f9afad887900ea786ae2006ba28.png" height="180" width="180" />
        <img src="~/Assets/images/img-2.jpg" height="180" width="180" />
        <img src="~/Assets/images/ssms_connection_errors-100601651-primary.idge.jpg" height="180" width="180" />
    </center>
    <footer>
        <center style="font-size: 60px; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; margin-top:130px">
            <a href="https://www.linkedin.com/in/chris-mcglynn-73614714a/" target="_blank"><i class="fa fa-linkedin" style="margin-right: 10px; margin-bottom:0px;"></i></a>
            <a href="https://github.com/qpc4ever" target="_blank"><i class="fa fa-github" style="margin-left:10px;"></i></a>
        </center>
        <p class="letter-spacing-1" style="text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;text-decoration: underline; text-align:center; font-family:'Goudy Old Style'; color:white; font-size:20px">©2017 Chris McGlynn - Bug Tracker</p>

    </footer>
</body>
</html>


